.registration-form-container {
  margin-top: 50px;
}

.registration-form {
  background-color: #fff; /* White background */
  padding: 20px;
  border-radius: 8px;
}

.stm-alert.stm-alert-warning {
  background: #fee9d9;
  color: #f56e00;
  padding: 15px 20px;
}

.stm-registration-confirmation {
  background: #fee9d9;
  color: #308255;
  padding: 20px 20px;
}
