#stm-page-header-temp {
  margin: 0;
  position: absolute;
  top: -1px;
  left: 20px;
  right: 0;
  z-index: 99;
}
#stm-page-header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

#stm-page-header .stm-page-title {
  align-items: center;
  display: flex;
  font-size: 14px;
  padding: 4px 20px 0;
}

@media (max-width: 600px) {
  #stm-page-header .stm-page-title {
    display: block;
    padding-top: 20px;
  }
}

#stm-page-header .stm-page-title .stm-logo-image {
  align-items: center;
  justify-content: center;
}

#stm-page-header .stm-page-title .stm-logo-sep {
  margin: 0 15px;
}

@media (max-width: 600px) {
  #stm-page-header .stm-page-title .stm-logo-sep {
    display: none;
  }
}
#stm-page-header .stm-page-title a.tab {
  border-bottom: 4px solid #fff;
  box-shadow: none;
  color: #787c82;
  display: inline-block;
  font-weight: 600;
  margin-right: 30px;
  padding: 20px 0 18px 0;
  text-decoration: none;
}

#stm-page-header .stm-page-title a.tab.active {
  border-color: #e77c5c;
  color: #2c3338;
}

#stm-page-header .stm-page-title a.tab.active:hover {
  border-color: #e77c5c;
}

#stm-page-header .stm-page-title a.tab:hover {
  border-color: #a7aaad;
}
#stm-page-header .stm-page-title a.action {
  color: #fff;
  font-weight: 600;
  margin: 14px 0 14px 10px;
  line-height: 28px;
  min-height: 30px;
  vertical-align: top;
}
@media (max-width: 600px) {
  #stm-page-header .stm-page-title a.action {
    margin-left: 0;
  }
}

#startups-market {
  color: #3c434a;
  margin: 0;
}

#startups-market
  .stm-page-content
  *
  #startups-market
  .stm-page-content
  *::before,
#startups-market .stm-page-content *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#startups-market .stm-page-content #stm-setting-row-heading-general-settings {
  padding-top: 5px;
}
#startups-market .stm-page-content .stm-settings-row {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0 0px 0;
  font-size: 14px;
  line-height: 0.3;
}

#startups-market .stm-settings-row {
  display: flex;
  flex-wrap: wrap;
}

.stm-settings-label {
  flex: 1;
  padding-right: 10px;
  max-width: 200px;
  margin-top: 15px;
}
.stm-settings-label label {
  line-height: 10px;
  font-weight: 600;
  font-size: 14px;
}
.stm-settings-field {
  flex: 2;
}

.stm-settings-row .stm-settings-label,
.stm-settings-row .stm-settings-field {
  margin-bottom: 5px;
}

.stm-settings-field input {
  width: 30%;
  padding: 3px;
}

#startups-market h2 {
  color: #333;
}

#startups-market p {
  color: #777;
}
.stm-settings-row .stm-settings-field input::placeholder {
  font-style: italic;
  padding-left: 5px;
}
